body {
    background: #f2f2f3;
}


.sp-wrap {
    max-width: 100%;
    background: unset;
    border: none;
    margin: 0!important;
}

.sp-large a img {
    max-width: 100%;
    height: auto;
}

.product_page_select_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.product_page_select_product select {
    width: 100%;
    padding: 5px 5px;
    border-radius: 5px;
}

.product_page_product_quantity {
    /* width: 100%; */
    display: flex;
    align-items: center;
}

.product_page_product_size {
    width: 32%;
}

.product_page_product_color {
    width: 32%;
}

.product_page_content {
    background: #fff;
    border: 1px solid #dddddda6;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px 0;
}

.sp-thumbs {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.sp-thumbs a {
    display: inline-block !important;
    margin: 10px;
    width: 80px !important;
    height: 80px !important;
    padding: 10px !important;
    border: 1px solid #ddd;
    opacity: 1 !important;
    border-radius: 5px;
}

.product_page_title {
    margin-bottom: 15px;
}
.product_page_title h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.product_page_p_code h4 {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
}
.product-detail-right h5 {
    margin-bottom: 15px;
}
.product-detail-right h5 span {
    font-size: 16px;
    color: #888;
}
.product_page_product_price {
    margin-bottom: 15px;
}

.add_to_cart_btn_p a {
    display: inline-block;
    background: #0a58ca;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 8px 12px;
    font-size: 14px;
    width: 48%;
}
.add_to_cart_btn_p a:nth-child(2) {
    background: #333;
}
.add_to_cart_btn_p a:hover {
    color: #fff;
}
.add_to_cart_btn_p a i {
    margin-right: 5px;
}
.product_call_to_action_btn {
    margin: 25px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.product_call_to_action_btn p {
    margin-bottom: 10px;
}

.product_call_to_action_btn h4 {
    color: #0a58ca;
    font-size: 20px;
    font-weight: 700;
}
.product_warranty_right {
    background: #f7fafc;
    height: 100%;
}

.p_w_r_top_content {
    display: flex;
    align-items: center;
}

.p_w_r_top img {
    width: 20px;
    margin-right: 5px;
}

.seller_profile {
    display: flex;
    align-items: center;
}

.seller_logo {
    /* width: 25%; */
    margin-right: 15px;
}

.seller_logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.p_w_r_top {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.p_w_r_top h5 {
    margin-bottom: 10px;
}

.product_seller_name {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.product_seller_name p {
    margin-bottom: 10px;
}

.product_page_select_product label {
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 12px;
}
.product-detail-right {
    padding-left: 10px;
}
.product_page_select_product select {
    font-weight: 600;
    width: 120px;
}

.product_call_to_action_btn span.phone_icon {
    display: inline-block;
    transform: rotate(90deg);
}


.product_description {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
}

.product_description h4 {
    background: aliceblue;
    padding: 10px 30px;
}

.p_d_content {
    padding: 15px 40px;
}

.p_d_content p {
    margin-bottom: 20px;
    line-height: 26px;
}

.p_d_type_info ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.p_d_type_left {
    width: 150px;
    display: inline-block;
    color: #a0aec0;
}

.available_shop_main_wrap {
    padding: 30px 0;
}

.available_shop_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.available_shop_select select {
    width: 100px;
    color: #777;
    padding: 3px 5px;
}

.available_shop_wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1vw;
    margin: 30px 0;
}

.available_shop_list {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 20px 15px;
}

.available_shop_list img {
    width: 90px;
}

.available_shop_list h4 a {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
    display: block;
}

.available_shop_review {
    margin-bottom: 5px;
    margin-top: 5px;
}

.available_shop_review span {
    color: #ffa800;
}

.available_shop_profile {
    margin-top: 10px;
}

a.available_chat_btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 3px 18px;
    font-size: 14px;
    border-radius: 25px;
}

a.available_buy_btn {
    background: #0a58ca;
    color: #fff;
    padding: 3px 18px;
    border-radius: 25px;
    font-size: 14px;
}

.available_related_product {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1vw;
    margin: 30px 0;
}

.single_available_related_product {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}
.single_available_related_product a {
    display: block;
    padding: 10px 0;
    font-size: 16px;
}
.single_available_related_product img {
    width: 100%;
}
.related_product_price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.related_product_price del {
    color: #777;
    display: block;
    margin-left: 10px;
}