    @media only screen and (min-width: 1201px) and (max-width: 1380px) {
        .header_bottom_navbar_right ul li {
            display: inline-block;
            margin-left: 5px;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .header_bottom_navbar ul li {
            margin-right: 5px;
        }

        .header_bottom_wrap ul li a {
            color: #fff;
            font-size: 14px;
        }

        .header_bottom_navbar_right {
            position: absolute;
            width: 100%;
            background: #000;
            top: 20px;
            z-index: 99;
            right: 0px;
            display: none;
        }

        .header_bottom_navbar_right ul li {
            display: block;
            text-align: left;
        }

        .header_right_toggle_btn {
            display: block;
        }

        .hero_nav_item_wrap {
            display: none;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header_bottom_navbar ul li {
            margin-right: 5px;
        }

        .header_bottom_wrap ul li a {
            color: #fff;
            font-size: 14px;
        }

        .header_bottom_navbar_right {
            position: absolute;
            width: 100%;
            background: #000;
            top: 20px;
            z-index: 99;
            right: 0px;
            display: none;
        }

        .header_bottom_navbar_right ul li {
            display: block;
            text-align: left;
        }

        .header_right_toggle_btn {
            display: block;
        }

        .header_search_wrap input {
            width: 75%;
        }

        .header_search_wrap button {
            width: 23%;
            padding: 5px 18px;
        }

        .header_middle_profile_wrap span {
            width: 40px;
            height: 40px;
            font-size: 16px;
        }

        .nav_category_wrap {
            padding: 7px 5px;
        }

        .category_btn i {
            font-size: 16px;
        }

        .nav_category_wrap h3 {
            font-size: 18px;
        }

        .hero_nav_item_wrap ul li a {
            font-size: 14px;
        }

        .hero_bottom_img {
            height: 88px;

        }

        .header_top_inner_wrap p {
            font-size: 14px;
        }

        .hero_nav_item_wrap {
            display: none;
        }

        .product_store_title_right>a {

            padding: 10px 5px;

            margin-left: 5px;
            color: #fff !important;
            margin-bottom: 0 !important;
        }
    }

    @media only screen and (min-width: 576px) and (max-width: 767px) {
        .hero_nav_item_wrap {
            display: none;
        }

        .site_logo_responsive_icon {
            display: block;
        }

        .header_middle_profile_wrap {
            position: fixed;
            width: 100%;
            left: 0px;
            z-index: 99;
            background: #ffffff;
            height: auto;
            bottom: 0;
            margin-left: 0;
            padding: 8px 10%;
        }

        .site_logo_responsive_icon h3 {
            width: 60px;
            height: 60px;
            font-size: 30px;
            background: #212529;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            top: -25px;
            color: #fff;
        }

        .header_middle_profile_wrap h4 {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
        }

        .header_bottom_wrap {
            display: none;
        }

        .header_search_wrap input {
            width: 80%;
        }

        .header_search_wrap button {
            width: 18%;
        }

        .header_top_main_wrap {
            display: none;
        }

        .emart-brand h2 {
            display: none;
        }

        .responsive_toggle_btn {
            display: block;
            position: relative;
            top: unset;
            text-align: center;
        }

        .main_navbar_inner {
            flex-direction: row-reverse;
            position: fixed;
            left: 0px;
            bottom: 0;
            right: unset;
            width: 100%;
        }

        .product_title h3 {
            font-size: 20px;
        }
    }

    @media only screen and (min-width: 401px) and (max-width: 575px) {
        .hero_nav_item_wrap {
            display: none;
        }

        .header_middle_profile_wrap {
            position: fixed;
            width: 100%;
            left: 0px;
            z-index: 99;
            background: #ffffff;
            height: auto;
            bottom: 0;
            margin-left: 0;
            padding: 8px 10%;
        }

        .site_logo_responsive_icon h3 {
            width: 60px;
            height: 60px;
            font-size: 30px;
            background: #212529;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            top: -25px;
            color: #fff;
        }

        .header_middle_profile_wrap h4 {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
        }

        .header_bottom_wrap {
            display: none;
        }

        .header_search_wrap input {
            width: 80%;
        }

        .header_search_wrap button {
            width: 18%;
        }

        .header_top_main_wrap {
            display: none;
        }

        .emart-brand h2 {
            display: none;
        }

        .responsive_toggle_btn {
            display: block;
            position: relative;
            top: unset;
            text-align: center;
        }

        .main_navbar_inner {
            flex-direction: row-reverse;
            position: fixed;
            left: 0px;
            bottom: 0;
            right: unset;
            width: 100%;
        }

        .product_title h3 {
            font-size: 16px;
            width: 50%;
        }

        .header_middle_main_search {
            width: 100%;
            padding-right: 4%;
        }

        .express_product_title h3 {
            margin-bottom: 0;
            font-size: 16px;
        }

        .express_items_wrap .owl-nav {
            position: absolute;
            top: -76px;
            right: 0;
        }

        .product_brand_wrap .search_box button {
            padding: 8px 11px;
            font-size: 16px;
            position: relative;
            right: -5px;
        }
        .search_box input {
            width: 78%;
        }
        .store_wrap .search_box input {
            width: 73%;
        }
        .store_wrap .search_box button {
            right: -8px;
        }
        .store_location_btn button {
           
            padding: 8px 14px;
            font-size: 16px;
            border-radius: 5px;
            margin-left: 5px;
            border: 1px solid #202a2f;
        }
        .product_wrap .search_box input {
            width: 70%;
        }
        .product_wrap .product_store_title_right>a {
            font-size: 14px;
            padding: 5px 5px;
            margin-left: 5px;
        }
        .product_wrap .search_box {
            width: 68%;
        }
        .product_wrap .search_box button {
            padding: 8px 11px;
            font-size: 15px;
            position: relative;
            right: -4px;
        }
        .footer_single_item_wrap {
           
            text-align: center;
        }
        .footer_single_item_wrap a img {
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 280px) and (max-width: 400px) {
        .hero_nav_item_wrap {
            display: none;
        }

        .header_middle_profile_wrap {
            position: fixed;
            width: 100%;
            left: 0px;
            z-index: 99;
            background: #ffffff;
            height: auto;
            bottom: 0;
            margin-left: 0;
            padding: 8px 10%;
        }

        .site_logo_responsive_icon h3 {
            width: 60px;
            height: 60px;
            font-size: 30px;
            background: #212529;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: relative;
            top: -25px;
            color: #fff;
        }

        .header_middle_profile_wrap h4 {
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 10px;
        }

        .header_bottom_wrap {
            display: none;
        }

        .header_search_wrap input {
            width: 80%;
        }

        .header_search_wrap button {
            width: 18%;
        }

        .header_top_main_wrap {
            display: none;
        }

        .emart-brand h2 {
            display: none;
        }

        .responsive_toggle_btn {
            display: block;
            position: relative;
            top: unset;
            text-align: center;
        }

        .main_navbar_inner {
            flex-direction: row-reverse;
            position: fixed;
            left: 0px;
            bottom: 0;
            right: unset;
            width: 100%;
        }

        .product_title h3 {
            font-size: 16px;
            width: 50%;
        }

        .header_middle_main_search {
            width: 100%;
            padding-right: 4%;
        }

        .express_product_title h3 {
            margin-bottom: 0;
            font-size: 16px;
        }

        .express_items_wrap .owl-nav {
            position: absolute;
            top: -76px;
            right: 0;
        }

        .search_box button {
            padding: 8px 11px;
            font-size: 16px;
            position: relative;
            right: -2px;
        }
        .search_box input {
            width: 78%;
        }
        .store_wrap .search_box input {
            width: 73%;
        }
        .store_wrap .search_box button {
            right: -3px;
        }
        .store_location_btn button {
           
            padding: 8px 14px;
            font-size: 16px;
            border-radius: 5px;
            margin-left: 5px;
            border: 1px solid #202a2f;
        }
        .product_wrap .search_box input {
            width: 70%;
        }
        .product_wrap .product_store_title_right>a {
            font-size: 14px;
            padding: 5px 5px;
            margin-left: 5px;
        }
        .product_wrap .search_box {
            width: 68%;
        }
        .product_wrap .search_box button {
            padding: 8px 11px;
            font-size: 15px;
            position: relative;
            right: -4px;
        }
        .footer_single_item_wrap {
           
            text-align: center;
        }
        .footer_single_item_wrap a img {
            margin: 0 auto;
        }
    }